@import "tailwindcss";


:root {
  --bg: #ffffff;
  --text: #000000;
  --card: #f3f4f6;
}

.dark {
  --bg: #0f172a;
  --text: #e5e7eb;
  --card: #1e293b;
}

html,
body {
  height: 100%;
  background-color: var(--bg);
  color: var(--text);
}

* {
  transition: background-color 0.2s ease, color 0.2s ease;
}